[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
streamlit = "*"
numpy = "*"
image = "*"
pandas = "*"
requests = "*"
matplotlib = "*"
flask = "*"
scikit-learn = "*"
lightgbm = "*"
shap = "*"
nltk = "*"
openpyxl = "*"
gensim = "*"
unidecode = "*"
evidently = "*"
xgboost = "*"
imblearn = "*"
hyperopt = "*"
mlflow = "*"
seaborn = "*"
pytest = "*"
setuptools = "*"
distutils = "*"

[dev-packages]
traitlets = "*"
jupyter = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
